#social {
  position:fixed;
  margin-left: 5px;
  margin-top: 20%;
  left:0;
  z-index:1;
}

.button {
  width: 5vw;
  margin-bottom: 10px;
  border-radius: 20px;
  display: block;
}

.button:hover {
  width: 6vw;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 12px;
}

/*smart phone*/
@media screen and (max-width : 500px){
  #social {
    right:0;
    left:auto;
    margin-right:2px;
    margin-left:0px;
  }

  .button {
    width: 9vw;
    margin-bottom:5px;
  }

  .button:hover {
    width: 9.5vw;
    margin-bottom:5px;
    margin-left:0px;
    margin-right:0px;
  }
}
