#headline {
  text-align: center;
  display: inline;
}

#name {
  animation-name: name-header;
  animation-duration: 3s;
  animation-iteration-count: 1;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.headline-wrap {
  background-color: var(--body-color3);
  border-radius: 0px;
  padding: 2% 5%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.headline-wrap:hover {
  -webkit-box-shadow: 0 18px 12px -12px #777;
  -moz-box-shadow: 0 18px 12px -12px #777;
  box-shadow: 0 18px 12px -12px #777;
}

.qiita-posts {
  border-radius:0px;
  padding-left:10%;
  padding-right:10%;
  padding-top:15px;
  padding-bottom:20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}


.product-wrap {
  background-color: var(--body-color4);
  border-radius:0px;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
  max-width: 95%;
}

.product-wrap a{
  text-decoration: underline;
}

.product-wrap:hover {
  -webkit-box-shadow: 0 20px 12px -12px black;
  -moz-box-shadow: 0 20px 12px -12px black;
  box-shadow: 0 20px 12px -12px black;
}

.content-ele-title{
  opacity:0.5;
  font-size: 7vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-ele-title:first-letter {
  color:#00e091;
}

.summary {
  font-size:70%;
  border-bottom:solid 1px white;
}

.post:hover {
  background-color:#2c2c33;
  -webkit-box-shadow: 0 20px 12px -12px black;
  -moz-box-shadow: 0 20px 12px -12px black;
  box-shadow: 0 20px 12px -12px black;
}

#name-jp {
  font-size:5vw;
  margin:0px;
}

#name-en {
  font-size: 4vw;
}

#content-ele {
  padding-left: 8%; 
  padding-right: 8%;
  font-size: 2.5vw;
}

.headline {
  margin-bottom: 0px;
}

.date {
  margin-left:10px;
  font-size:80%;
}

#content {
  margin:0px;
}

.product-name {
  color: var(--font-color1);
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  border-bottom:solid 0.3vw var(--theme-color);
  text-align: center;
  width: 70vw;
  font-size: 5vw;
}

.product-img {
  width: 100%;
  border-radius:20px;
  margin: 5px;
}

.movie {
  height: 50vh; 
}

.comment {
  color: var(--font-color1);
  border:solid 3px;
  border-radius:10px;
  padding:10px;
  margin-bottom:15px;
  /* text-decoration: underline; */
}

/*smart phone*/
@media screen and (max-width : 500px) {
  #name-jp {
    font-size: 8vw;
  }

  #name-en {
    font-size: 7vw;
  }

  #content-ele {
    padding-left: 3%; 
    padding-right: 3%;
    font-size: 4vw;
  }

  .content-ele-title{
    font-size: 10vw;
  }

  .headline {
    margin-bottom:10px;
    margin-top:10px;
  }

  .date {
    margin-left:10px;
  }

  .article-title {
    margin-left:10px;
  }

  #content {
    margin:0px;
  }

  .product-name {
    margin-top:0px;
    margin-bottom:0px;
    padding-left: 10px;
  }

  .comment {
    border:solid 1px;
    border-radius:10px;
    padding:5px;
    margin-bottom:5px;
  }

  .post {
    background-image:linear-gradient(135deg, white 15px, transparent 0);
  }

  .headline-wrap {
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
  }

  .headline-wrap:hover {
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
  }

  .product-wrap {
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
  }

  .product-wrap:hover {
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
  }

  .product-img {
    width:100%;
    border-radius:20px;
    margin-top:10px;
    margin-bottom:10px;
  }

  .movie {
    height: 30vh; 
  }

}
