body {
    background-color: var(--body-color1);
}

#service {
    background-color: var(--body-color2);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#imageSubmit {
  border-style: none;
  background-color: red;
}

#description {
  margin-bottom: 5%;
  font-size: 130%;
}

#before-after-example {
  margin-bottom: 2%;
}

#description-text {
  text-align: center;
}

label {
  color: var(--font-color1);
  text-align: center;
  font-size: 200%;
  background-color: var(--theme-color);
  border-radius: 10px;
  padding: 2%;
  display: block;
  width: 40%;
  margin:auto;
} 

label:hover {
  cursor: pointer;
  background-color: var(--body-color1);
  transition: 0.5s;
}

#file-upload {
  border: 2px dashed var(--theme-color);
  border-radius: 20px;
  height: 30%;
  padding: 10%;
  padding-bottom: 6%;
  background-color: var(--body-color3);
  text-align: center;
}

#drag-description {
  color: var(--font-color1);
  font-size: 400%;
}

#accept-file-type {
  color: var(--font-color1);
  font-size: 200%;
  margin-bottom: 2%;
}

#upload-image-preview {
}