#service {
    background-color: var(--body-color2);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#title {
  font-size: 5vw;
}

.upload-ui-button {
  display: inline-block;
  opacity: 0.8;
  width: 7vw;
}

#description {
  margin-bottom: 5%;
  font-size: 130%;
}

#before-after-example {
  margin-bottom: 2%;
  width: 85vw;
}

#description-text {
  text-align: center;
  font-size: 2.4vw;
}

#file-select-button {
  width: 40%;
  font-size: 3vw;
}

#file-select {
  border: 2px dashed var(--theme-color);
  border-radius: 20px;
  height: 30%;
  padding: 10%;
  padding-bottom: 6%;
  background-color: var(--body-color3);
  text-align: center;
}

#drag-description {
  color: var(--font-color1);
  font-size: 5vw;
}

#accept-file-type {
  color: var(--font-color1);
  font-size: 2vw;
  margin-bottom: 2%;
}

#image-preview {
  display: inline-block;
  transition: 3s;
  margin-bottom: 0;
  vertical-align: bottom;
  border: solid 1px var(--body-color1);
}

#upload-image {
  display: none;
}

#processed-image {
  display: none;
}

#file-upload {
  display: none;
  position: relative;
  background-color: var(--body-color1);
}

#upload-ui {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 1vw;
}

.upload-ui-part {
  font-size: 200%;
  display: inline-block;
}

.upload-ui-part.btn {
  font-size: 200%;
}

#image-size {
  transition: 0.5s;
  display: inline-block;
  color: var(--theme-color);
  margin: auto;
  font-size: 4vw;
}


.btn {
  color: var(--font-color1);
  text-align: center;
  background-color: var(--theme-color);
  border-radius: 10px;
  padding: 2%;
  margin:auto;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--body-color1);
  transition: 0.5s;
}

#processing-view{
    color: var(--theme-color);
    text-align: center;
    font-size: 5vw;
    position: absolute;
	  -webkit-animation:blink 0.7s ease-in-out infinite alternate;
    -moz-animation:blink 0.7s ease-in-out infinite alternate;
    animation:blink 0.7s ease-in-out infinite alternate;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}